
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@font-face {
    font-family: DM-Sans;
    src: url("content/fonts/DM-Sans.ttf");
}

:root {
	--color-dark: #040404;
	--color-light: #fefefe;
	--color-brand-a: #fefe04;
	--color-brand-b: #fe0404;
	
	--brand-font-m: "DM-Sans";
}


body {
	margin: 0;
	font-family: var(--brand-font-m), sans-serif;
	color: var(--brand-color-dark-900);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}


.color-white {
	color: white;
}


.bi {
    line-height: 0;
}


.inline {
	display: inline;
}


.height-min-100dvh {
	min-height: 100dvh;
}

.align-bottom {
	margin-top: auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
/*	gap: 0.25em;*/
}

.flex-column {
	flex-direction: column;
}

.flex-right {
	justify-content: right;
}

.flex-center {
	justify-content: center;
}

.flex-align-center {
	align-items: center;
}


.width-fit {
	flex-shrink: 1;
}





/*MARGIN*/


.margin-y-0 {
	margin-top: 0;
	margin-bottom: 0;

}

.margin-y-s {
	margin-top: 8px;
	margin-bottom: 8px;
}

.margin-y-m {
	margin-top: 24px;
	margin-bottom: 24px;
}


.margin-x-s {
	margin-right: 8px;
	margin-left: 8px;
}

.margin-x-m {
	margin-right: 24px;
	margin-left: 24px;
}

.margin-b-s {
	margin-top: 0px;
	margin-bottom: 16px;
}





/*PADDING*/


.padding-y-xxs {
	padding-top: 4px;
	padding-bottom: 4px;
}

.padding-y-xs {
	padding-top: 8px;
	padding-bottom: 8px;
}

.padding-y-s {
	padding-top: 16px;
	padding-bottom: 16px;
}

.padding-y-m {
	padding-top: 24px;
	padding-bottom: 24px;
}

.padding-y-l {
	padding-top: 48px;
	padding-bottom: 48px;
}


.padding-x-xs {
	padding-right: 8px;
	padding-left: 8px;
}

.padding-x-s {
	padding-right: 16px;
	padding-left: 16px;
}

.padding-x-m {
	padding-right: 24px;
	padding-left: 24px;
}

.padding-x-l {
	padding-right: 48px;
	padding-left: 48px;
}








/*TEXT SIZE*/


.text-s{
	font-size: 0.75rem;
}

.text-l {
	font-size: 1.5rem;	
}

.text-xl {
	font-size: 3.0rem;
}

.text-xxl {
	font-size: 3.5rem;
}

.text-bold {
	font-weight: bold;
}





/*EFFECTS*/



.foreground-effect {
	transition: filter 0.5s;
}
.foreground-effect-parent:hover .foreground-effect:not(:hover) {
	filter: blur(4px);
}


.nav-underline-container {
	height: 4px;
	width: 100%;
}
.nav-underline-overlay {
	background-color: var(--color-dark);
	height: 4px;
	float: right;
	width: 0%;
	transition: width 0.3s;
}
.nav-underline-parent:hover .nav-underline-overlay {
	float: left;
	width: 100%;
}


.text-focus-a {
	transition: color 0.5s;
	transition: background-color 0.5s;
}
.text-focus-a:hover {
	color: var(--color-light);
	background-color: var(--color-dark);
}


.text-focus-b {
	transition: color 0.5s;
	transition: background-color 0.5s;
}
.text-focus-b:hover {
	color: var(--color-dark);
	background-color: var(--color-light);
}



















.text-center {
	text-align: center;
}





.bg-color-dark {
	background-color: var(--color-dark);
}


.text-color-dark {
	color: var(--color-dark);
}

.text-color-light {
	color: var(--color-light);
}







.red {
	background-color: red;
}
.pink {
	background-color: lightpink;
}



.hide {
	display: none;
}
